.main{

text-align: center;
transition: background-color 0.3s ease;



}

.light-theme {
  background-color: #ffffff;
  color: #000000;
}

.dark-theme {
  background-color: #1a1a1a;
  color: #ffffff;
}

h1{
  font-size: 2rem;
}

button{

  font-size: 1.0rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}

input{

  font-size: 1.0rem;
  padding: 8px;
   }


.addbtn{

  background-color: yellow;
  margin-left: 15px;

  
}
.addbtn:hover{
  transform: scale(1.2);
}
.del{


  background-color: red;
  
}

.del:hover{
  transform: scale(1.2);
}
.comp{

background-color: green;
margin-left: 10px;
}

.comp:hover{
  transform: scale(1.2);
}

ol{
  padding: 0%;
  
}

li{

  font-size: 1.4rem;
  font-weight: bold;
  padding: 5px;
  margin:40px;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.text{

  flex: 1;
}

.toggler{

  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,94,40,1) 100%, rgba(0,212,255,1) 100%, rgba(97,9,121,1) 100%);
}

.drkbtn{

  display: flex;
  justify-content: flex-end;
  margin: 30px;
}

.symbol{

  font-size: 1.5rem;
}